<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myshops.shops.myshops">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-sdk android:minSdkVersion="4"></uses-sdk>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/mais_logo"
        android:label="@string/app_name"
        android:name=".MyApplication"
        android:supportsRtl="true"
        android:name="com.myshops.shops.untils.MyApplication"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ShanActivity"
            android:label="@string/app_name"
            android:theme="@style/MyFullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data android:value="567756e9e0f55a9b61005d78" android:name="UMENG_APPKEY"></meta-data>
        <meta-data android:value="Wandoujia" android:name="UMENG_CHANNEL"/>
        <activity
            android:name=".OpenActivity"
            android:label="@string/title_activity_open"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShopProveActivity"
            android:label="@string/title_activity_shop_prove"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="ff"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".LeadActivity"
            android:label="@string/title_activity_lead"
            android:theme="@style/MyFullscreen">

        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity android:name="me.nereo.imagechoose.MultiImageSelectorActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ShopInfoActivity"
            android:label="ff"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
    </application>

</manifest>
